{minimum_otp_vsn, "27.1"}.

{erl_opts, [{i, "src"},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{dialyzer, [{warnings, [extra_return,
                        missing_return,
                        no_unknown
                        %% unmatched_returns,
                        %% overspecs,
                        %% underspecs,
                        %% specdiffs,
                        %% error_handling
                       ]},
            incremental,
            {plt_apps, top_level_deps},
            %% {plt_apps, all_apps},
            {plt_location, local},
            {base_plt_location, global}]}.

{project_plugins, [rebar3_efmt, rebar3_lint]}.
{elvis_output_format, colors}.

{cover_enabled, true}.

{validate_app_modules, true}.

{plugins, [rebar3_hex]}.
